@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Este projeto tem o objetivo de apresentar o uso do Docker com uma aplicação ASPNET Core, bem como a criação de ambiente Kubernetes nos principais providers de Nuvem (Azure, Amazon, Oracle e Google).</p>

<p>Projeto construído para a disciplina Cloud Computing e Internet das Coisas do curso Tecnologia em Sistemas para Internet (TSI) do Senac-SP.</p>

<h2>Funcionalidades</h2>
<ol>
    <li>Uma aplicação Web MVC desenvolvida com ASPNET Core</li>
    <li>Arquivo de manifesto no Docker com as principais configurações de como criar o container</li>
    <li>Arquivos de deployment nos serviços de Kubentes
        <ul>
            <li>Microsoft Azure: Azure Kubernetes Service (AKS)</li>
            <li>Amazon Web Services: Amazon Elastic Kubernetes Service (EKS)</li>
            <li>Google Cloud: Google Kubernetes Engine (GKE)</li>
            <li>Oracle: Oracle Container Engine for Kubernetes (OKE)</li>
        </ul>
    </li>
</ol>